@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;700&family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s linear;
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background: black;
}
::-webkit-scrollbar-thumb{
    background: transparent;
    border-radius: 10px;
    width: 5px;
}
.sidebar::-webkit-scrollbar-thumb{
    background: #090909;
}
::-webkit-scrollbar-thumb{
    background: rgb(159, 159, 159);
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;   
}